name: Build Latest Docker image and Publish to DEV and PROD

on:
  push:
    branches: [main]

jobs:
  cd:
    uses: decentraland/actions/.github/workflows/build-quay-main.yml@main
    with:
      service-name: social-service
      deployment-environment: dev prd
    secrets:
      QUAY_USERNAME: ${{ secrets.QUAY_USERNAME }}
      QUAY_TOKEN: ${{ secrets.QUAY_TOKEN }}
